---
import { Icon } from "astro-icon/components";
import Header from "~/components/widgets/Header.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout>
  <Header />
  <div class="h-fit py-16">
    <h1
      class="text-center text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
    >
      Success !
    </h1>
    <p class="text-center py-6">You have been subscribed to our newsletter</p>
    <p class="text-center">
      <a href="/" class="text-center"
        ><button type="submit" class="btn btn-primary">
          <Icon name="tabler:arrow-back" class="w-5 h-5 mr-1 -ml-1.5" />
          Back</button
        ></a
      >
    </p>
  </div>
</Layout>
