/backend/.env.local

/data

# To copy the container shapes to the host, the /data/shapes directory need to be created
# We create it on `make start`. However we don't want to commit shapes and shape trees.
shapes/shex
shapes/trees
