---
import { Icon } from 'astro-icon';
import activitypub from '~/assets/images/activitypub.svg';
---

<section class="bg-tertiary-500 full-height min-h-[900px]">
	<div class="container mx-auto pt-8">
		<img src={activitypub} alt="image description" class="w-48" />
		<h2 class="max-w-lg mb-4 text-4xl font-bold leading-none text-white sm:text-6xl font-heading">
			Activity<span class="text-secondary-500">Pub</span>
		</h2>
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			<div>
				<p class="text-white text-2xl mb-4">
					The Activity<span class="text-secondary-500">Pub</span> protocol is a decentralized social networking protocol based upon the ActivityStreams 2.0 data format. It provides a client to server API for creating, updating and deleting content, as well as a federated server to server API for delivering notifications and content.
				</p>
				<a href="https://activitypub.rocks" class="text-white text-2xl underline">
					www.activitypub.rocks
				</a>
			</div>
			<div>
				<p class="mb-4 text-2xl font-bold text-white">
					<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-white inline-block" />
					What is the main shortcoming of Activity<span class="text-secondary-500">Pub</span> ?
				</p>
				<p class="text-white text-xl">
					ActivityPub wants to make it possible to create decentralized apps. But to post videos, you need an account on a PeerTube instance. 
					And to post images, you need an account on a PixelFed instance. You must thus handle multiple accounts, with their own profiles, followers, etc.
				</p>
				<br />
				<p class="mb-4 text-2xl font-bold text-white">
					<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-white inline-block" />
					How does Activity<span class="text-primary-500">Pods</span> solve this shortcoming ?
				</p>
				<p class="text-white text-xl">
					With ActivityPods, you have only one profile, one outbox, one inbox and one list of followers -- all in a POD. Applications connect to your	
					POD to post activities, read the inbox and fetch data. And of course they can connect to any existing fediverse application !
				</p>
			</div>
		</div>
	</div>
</section>
