---
import { Icon } from 'astro-icon';
import activitypods from '~/assets/images/activitypods.svg';
---

<section class="full-height min-h-[900px]">
	<div class="container mx-auto pt-24">
		<p class="text-center text-base text-black dark:text-primary-200 font-semibold tracking-wide uppercase">The best of both worlds</p>
		<img src={activitypods} alt="image description" class="max-w-sm mx-auto" />
		<h2 class="text-4xl font-bold text-black sm:text-6xl font-heading text-center mb-6">
			Activity<span class="text-primary-500">Pods</span>
		</h2>
		<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400 mb-6">
			<span class="text-black">Activity</span><span class="text-primary-500">Pods</span> is a framework to create ActivityPub-compatible applications
			with all data stored in a single place: your POD. 
		</p>
		<p class="text-center">
			<a
			class="btn btn-primary sm:mb-0"
			href="https://github.com/assemblee-virtuelle/activitypods"
			target="_blank"
			rel="noopener"
		>
			<Icon name="tabler:rocket" class="w-5 h-5 mr-1 -ml-1.5" /> Get started
		</a>
		</p>
	</div>
</section>
