---
import { Icon } from 'astro-icon/components';

const items = [
	{
		title: 'Freedom to choose where your data are stored',
		oldMethod: 'In traditional architecture, you have no idea where or how your data are stored.',
		newMethod: 'With ActivityPods, all your data are stored in your Pod. You can choose a Pod provider you trust, or host it yourself.',
		icon: 'flat-color-icons:home',
	},
	{
		title: 'Freedom to share your data with anyone',
		oldMethod: 'In traditional architecture, you can only share your data with users on the same app.',
		newMethod: 'With ActivityPods, you can share your data with anyone on the Internet, thanks to the ActivityPub protocol.',
		icon: 'flat-color-icons:share',
	},
	{
		title: 'Freedom to choose which app handles your data',
		oldMethod: 'In traditional architecture, data are only understood by the apps which created them.',
		newMethod: 'With ActivityPods, since all data are stored using semantic web standards, they can be accessed and understood by many apps.',
		icon: 'flat-color-icons:selfie',
	}
];
---

<section class="relative">
	<div class="absolute inset-0 bg-slate-200 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Data freedom for your users
				</h2>
				<p class="max-w-2xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					Richard Stallman famously defined the <a href="https://www.gnu.org/philosophy/free-sw.html" target="_blank" class="underline">4 freedoms</a> guaranteed by free softwares. Here are the 3 freedoms guaranteed by ActivityPods:
				</p>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-8 dark:text-white">
				{
					items.map(({ title, oldMethod, newMethod, icon }) => (
						<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
							<div class="flex items-center mb-4">
								<Icon name={icon} class="w-12 h-12" />
								<div class="ml-4 text-xl font-bold">{title}</div>
							</div>
							<p class="text-gray-500 dark:text-gray-400 text-md pb-2">{oldMethod}</p>
							<p class="text-gray-500 dark:text-gray-400 text-md">{newMethod}</p>
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
