---
import { Icon } from 'astro-icon';
---

<section>
	<div class="max-w-5xl mx-4 sm:mx-auto overflow-hidden">
		<div class="py-12 md:py-16">
			<div class="py-4 sm:py-6 lg:py-8">
				<div class="flex flex-wrap md:-mx-8">
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
							<h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
								Developing decentralized social apps has never been easier
							</h2>

							<p class="mb-6 text-xl text-gray-600 dark:text-slate-400">
								<span class="text-black dark:text-slate-400">Activity</span><span class="text-primary-500">Pods</span> is not just a collection of standards, it's a full-featured framework which intends to make it easy
								to develop decentralized social apps. This framework is already used by several applications in production.
							</p>

							<div class="w-full">
								<a
									class="btn btn-primary mb-4 sm:mb-0"
									href="https://github.com/assemblee-virtuelle/activitypods"
									target="_blank"
									rel="noopener"
								>
									<Icon name="tabler:brand-github" class="w-5 h-5 mr-1 -ml-1.5" /> Source code
								</a>
							</div>
						</div>
					</div>
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<ul class="space-y-12">
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-4xl font-bold rounded-full bg-secondary-500 text-white"
									>
										1</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-2xl font-semibold font-heading">Don't bother about backend</h3>
									<p class="text-gray-500 dark:text-gray-400">
										All common backend issues are handled by the Pod provider: account creation, data storage, contacts management... as well
										as all common ActivityPub features (inbox, outbox, followers, likes...). So you can focus solely on the apps you want to develop!
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-4xl font-bold rounded-full bg-secondary-500 text-white"
									>
										2</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-2xl font-semibold font-heading">Add business logic through bots</h3>
									<p class="text-gray-500 dark:text-gray-400">
										If you need business logic, for example handling events join requests, you can create lightweight bots which will listen to Pods activities
										and react accordingly.
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-4xl font-bold rounded-full bg-secondary-500 text-white"
									>
										3</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-2xl font-semibold font-heading">Make use of our frontend components</h3>
									<p class="text-gray-500 dark:text-gray-400">
										ActivityPods is built on top of <a href="https://semapps.org" class="underline">SemApps</a>, a semantic web toolbox which also provides many React
										components to fetch Pods, communicate through ActivityPub and display semantic data. Of course you are free to use any framework
										you like as the frontend is 100% decoupled from the backend.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
