---
import { Icon } from 'astro-icon/components';

const items = [
	[
		{
			title: 'JSON-LD and Turtle API',
			description:
				'Every Pod is compliant with the Linked Data Platform specification. You can retrieve, create and update data (resource or container) as JSON-LD or Turtle.',
			icon: 'tabler:api',
		},
		{
			title: 'SPARQL endpoint',
			description:
				'Every Pod comes with its own SPARQL endpoint. You can do advanced queries instead of going through whole lists of resources.',
			icon: 'ic:baseline-search',
		},
		{
			title: 'WAC permissions',
			description:
				'You can define fine-grained read/write/control permissions for every container and resource in the Pod, thanks to our support of the WAC (WebACL) standard.',
			icon: 'ic:baseline-security',
		}
	],
	[
		{
			title: 'Inbox + Outbox',
			description:
				'Every Pod comes with an ActivityPub-compliant inbox and outbox to communicate with the fediverse. Side-effects (follow, like...) are automatically handled.',
			icon: 'bi:mailbox',
		},
		{
			title: 'Proxy endpoint',
			description:
				'An user can authenticate itself on any other Pod using HTTP signature. Every Pod has a proxy endpoint which signs the user requests with his private key.',
			icon: 'eos-icons:proxy-outlined',
		},
		{
			title: 'Notifications',
			description:
				'When a user receives an ActivityPub activity, he can receive a properly-formatted notification by mail. Support for web push notification is coming soon.',
			icon: 'ic:baseline-notification-important',
		},
	],
];
---

<section class="scroll-mt-16" id="features">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:pt-10 lg:pb-20">
		<div class="mb-10 md:mx-auto sm:text-center md:mb-12 max-w-3xl">
			<p class="text-base text-primary-600 dark:text-primary-500 font-semibold tracking-wide uppercase">Packed with Features</p>
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
				What users get with their Activity<span class="text-primary-500">Pods</span>
			</h2>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
				<span class="text-black dark:text-slate-400">Activity</span><span class="text-primary-500">Pods</span> come with a large set of features which include everything you need to develop social apps: data management, authorizations, communication with other Pods...
			</p>
		</div>
		<div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description, icon }) => (
							<div class="flex flex-row max-w-md">
								<div class="mb-4 mr-4">
									<div class="flex items-center justify-center w-12 h-12 rounded-full bg-secondary-500">
										{icon && <Icon name={icon} class="w-8 h-8 text-white icon-light" />}
									</div>
								</div>
								<div>
									<h3 class="mb-3 text-xl font-bold">{title}</h3>
									<p class="text-gray-600 dark:text-slate-400">{description}</p>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
