---
import { Icon } from 'astro-icon';
import Logo from '~/components/atoms/Logo.astro';
import { getHomePermalink, getRelativeLink } from '~/utils/permalinks';

const links = [
	{
		title: 'Product',
		items: [
			{ title: 'Features', href: '#' },
			{ title: 'Security', href: '#' },
			{ title: 'Team', href: '#' },
			{ title: 'Enterprise', href: '#' },
			{ title: 'Customer stories', href: '#' },
			{ title: 'Pricing', href: '#' },
			{ title: 'Resources', href: '#' },
		],
	},
	{
		title: 'Platform',
		items: [
			{ title: 'Developer API', href: '#' },
			{ title: 'Partners', href: '#' },
			{ title: 'Atom', href: '#' },
			{ title: 'Electron', href: '#' },
			{ title: 'AstroWind Desktop', href: '#' },
		],
	},
	{
		title: 'Support',
		items: [
			{ title: 'Docs', href: '#' },
			{ title: 'Community Forum', href: '#' },
			{ title: 'Professional Services', href: '#' },
			{ title: 'Skills', href: '#' },
			{ title: 'Status', href: '#' },
		],
	},
	{
		title: 'Company',
		items: [
			{ title: 'About', href: '#' },
			{ title: 'Blog', href: '#' },
			{ title: 'Careers', href: '#' },
			{ title: 'Press', href: '#' },
			{ title: 'Inclusion', href: '#' },
			{ title: 'Social Impact', href: '#' },
			{ title: 'Shop', href: '#' },
		],
	},
];

const social = [
	{ label: 'RSS', icon: 'tabler:rss', href: getRelativeLink('/rss.xml') },
	{ label: 'Github', icon: 'tabler:brand-github', href: 'https://github.com/assemblee-virtuelle/activitypods' },
];
---

<footer class="bg-slate-200 dark:bg-slate-900 border-t border-gray-200 dark:border-slate-800">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="grid grid-cols-2 gap-8 gap-y-2 py-4">
			<div>
				<a class="flex items-center" href={getHomePermalink()}>
					<Logo />
				</a>
			</div>
			<div>
			<ul class="flex mb-2 md:order-1 -ml-2 md:ml-4 md:mb-0 float-right">
				{
					social.map(({ label, href, icon }) => (
						<li>
							<a
								class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
								aria-label={label}
								href={href}
							>
								<Icon name={icon} class="w-5 h-5" />
							</a>
						</li>
					))
				}
			</ul>
		</div>
		</div>
	</div>
</footer>
