---
import { Icon } from 'astro-icon';
import activitypods from '~/assets/images/activitypods.svg';
---

<section class="bg-slate-200 full-height min-h-[900px]">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-10 md:py-12">
			<div class="text-center max-w-5xl mx-auto">
				<img src={activitypods} alt="image description" class="max-w-sm mx-auto xs:max-w-xs" />
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter mb-4 font-heading">
					Creating decentralized social apps <br /> has never been easier
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						<strong><span class="text-black">Activity</span><span class="text-primary-500">Pods</span></strong> 
						brings together two world-changing technologies, <strong><a href="#activitypub">Activity<span class="text-secondary-500">Pub</span></a></strong> and <strong>Solid <span class="text-primary-500">Pods</span></strong>, and empowers developers to create truly decentralized applications
					</p>
					<div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn btn-primary sm:mb-0 w-full"
								href="https://github.com/assemblee-virtuelle/activitypods"
								target="_blank"
								rel="noopener"
							>
								<Icon name="tabler:rocket" class="w-5 h-5 mr-1 -ml-1.5" /> Get started
							</a>
						</div>
						<div class="flex w-full sm:w-auto">
							<a
								class="btn w-full"
								href="/roadmap">Learn more</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
