---
import { Icon } from 'astro-icon';
---

<section class="px-4 py-10 sm:px-6 lg:px-8 sm:py-20 max-w-3xl mx-4 sm:mx-auto">
	<h1 class="text-5xl md:text-[3.50rem] text-center font-bold leading-tighter mb-12 font-heading">
		Activity<span class="text-primary-500">Pods</span> Roadmap
	</h1>
	<ol class="relative border-l border-gray-200 dark:border-gray-700">                  
		<li class="mb-10 ml-10">            
			<span class="flex absolute -left-5 justify-center items-center w-10 h-10 bg-violet-500 rounded-full ring-8 ring-white dark:ring-gray-900">
				<Icon name="ic:baseline-check" class="w-6 h-6 text-white dark:text-slate-200" />
			</span>
			<time class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500">December 2021</time>
			<h3 class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white">First working ActivityPods application</h3>
			<p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Welcome to my place, an app to organize private events, is deployed</p>
			{/*<a href="#" class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"><svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z" clip-rule="evenodd"></path></svg> Download ZIP</a>*/}
		</li>
		<li class="mb-10 ml-10">            
			<span class="flex absolute -left-5 justify-center items-center w-10 h-10 bg-violet-500 rounded-full ring-8 ring-white dark:ring-gray-900">
				<Icon name="ic:baseline-check" class="w-6 h-6 text-white dark:text-slate-200" />
			</span>
			<time class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500">March 2022</time>
			<h3 class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white">Second ActivityPods application in production</h3>
			<p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Mutual-aid.app, a classified ads application, is deployed</p>
			{/*<a href="#" class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"><svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z" clip-rule="evenodd"></path></svg> Download ZIP</a>*/}
		</li>
		<li class="mb-10 ml-10">            
			<span class="flex absolute -left-5 justify-center items-center w-10 h-10 bg-violet-500 rounded-full ring-8 ring-white dark:ring-gray-900">
				<Icon name="ic:baseline-check" class="w-6 h-6 text-white dark:text-slate-200" />
			</span>
			<time class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500">December 2022</time>
			<h3 class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white">Two new ActivityPods providers</h3>
			<p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Welcome to MyPod.store and Bocage.me</p>
			{/*<a href="#" class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"><svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z" clip-rule="evenodd"></path></svg> Download ZIP</a>*/}
		</li>
		<li class="mb-10 ml-10">            
			<span class="flex absolute -left-5 justify-center items-center w-10 h-10 bg-secondary-500 rounded-full ring-8 ring-white dark:ring-gray-900">
				<Icon name="tabler:tool" class="w-6 h-6 text-white dark:text-slate-200" />
			</span>
			<time class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500">January 2023</time>
			<h3 class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white">Frontend for ActivityPods providers<span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-white ml-3">Work in progress</span></h3>
			<p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">We split contacts and account management in a separate frontend deployed by each ActivityPods provider</p>
		</li>
		<li class="mb-10 ml-10">            
			<span class="flex absolute -left-5 justify-center items-center w-10 h-10 bg-gray-500 rounded-full ring-8 ring-white dark:ring-gray-900 ">
				<Icon name="ic:baseline-access-time" class="w-6 h-6 text-white dark:text-slate-200" />
			</span>
			<time class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500">March 2023</time>
			<h3 class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white">Improved contacts management</h3>
			<p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Geolocalization of profiles, contacts grouping, improved invitation by email...</p>
		</li>
		<li class="mb-10 ml-10">            
			<span class="flex absolute -left-5 justify-center items-center w-10 h-10 bg-gray-500 rounded-full ring-8 ring-white dark:ring-gray-900">
				<Icon name="ic:baseline-access-time" class="w-6 h-6 text-white dark:text-slate-200" />
			</span>
			<time class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500">Mid-2023</time>
			<h3 class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white">Public data</h3>
			<p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Ability to make data public and to aggregate them in external public instances.</p>
		</li>
		<li class="mb-10 ml-10">            
			<span class="flex absolute -left-5 justify-center items-center w-10 h-10 bg-gray-500 rounded-full ring-8 ring-white dark:ring-gray-900">
				<Icon name="ic:baseline-access-time" class="w-6 h-6 text-white dark:text-slate-200" />
			</span>
			<time class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500">End of 2023</time>
			<h3 class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white">External bots</h3>
			<p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Extract bots from ActivityPods providers: they become independant applications activable by user.</p>
		</li>
	</ol>
</section>
