---
import { Icon } from "astro-icon";
---

<section class="px-4 py-10 sm:px-6 lg:px-8 sm:py-20 max-w-3xl mx-4 sm:mx-auto">
  <h1
    class="text-5xl md:text-[3.50rem] text-center font-bold leading-tighter mb-12 font-heading"
  >
    Activity<span class="text-primary-500">Pods</span> Roadmap
  </h1>
  <ol class="relative border-l border-gray-200 dark:border-gray-700">
    <li class="mb-10 ml-10">
      <span
        class="flex absolute -left-5 justify-center items-center w-10 h-10 bg-violet-500 rounded-full ring-8 ring-white dark:ring-gray-900"
      >
        <Icon
          name="ic:baseline-check"
          class="w-6 h-6 text-white dark:text-slate-200"
        />
      </span>
      <time
        class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500"
        >December 2021</time
      >
      <h3
        class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white"
      >
        Launch & First working ActivityPods application
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        <a href="https://welcometomyplace.org" target="_blank" class="underline"
          >Welcome to my place</a
        >, an app to organize private events, is deployed
      </p>
    </li>
    <li class="mb-10 ml-10">
      <span
        class="flex absolute -left-5 justify-center items-center w-10 h-10 bg-violet-500 rounded-full ring-8 ring-white dark:ring-gray-900"
      >
        <Icon
          name="ic:baseline-check"
          class="w-6 h-6 text-white dark:text-slate-200"
        />
      </span>
      <time
        class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500"
        >February 2022</time
      >
      <h3
        class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white"
      >
        Second ActivityPods application in production
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        <a href="https://mutual-aid.app" target="_blank" class="underline"
          >Mutual Aid</a
        >, a classified ads app, is deployed
      </p>
    </li>
    <li class="mb-10 ml-10">
      <span
        class="flex absolute -left-5 justify-center items-center w-10 h-10 bg-violet-500 rounded-full ring-8 ring-white dark:ring-gray-900"
      >
        <Icon
          name="ic:baseline-check"
          class="w-6 h-6 text-white dark:text-slate-200"
        />
      </span>
      <time
        class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500"
        >March 2022</time
      >
      <h3
        class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white"
      >
        Solid World presentation
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        The project is featured in Solid project's monthly webinar
      </p>
      <a
        href="https://vimeo.com/691410463#t=18m30s"
        class="btn py-2 px-6"
      >
        <Icon name="tabler:video" class="w-5 h-5 mr-2 -ml-1.5" />
        Watch video
      </a>
    </li>
    <li class="mb-10 ml-10">
      <span
        class="flex absolute -left-5 justify-center items-center w-10 h-10 bg-violet-500 rounded-full ring-8 ring-white dark:ring-gray-900"
      >
        <Icon
          name="ic:baseline-check"
          class="w-6 h-6 text-white dark:text-slate-200"
        />
      </span>
      <time
        class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500"
        >December 2022</time
      >
      <h3
        class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white"
      >
        Two new ActivityPods providers
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        MyPod.store (provided by Virtual Assembly) and Bocage.me (Normandy area)
      </p>
    </li>
    <li class="mb-10 ml-10">
      <span
        class="flex absolute -left-5 justify-center items-center w-10 h-10 bg-violet-500 rounded-full ring-8 ring-white dark:ring-gray-900"
      >
        <Icon
          name="ic:baseline-check"
          class="w-6 h-6 text-white dark:text-slate-200"
        />
      </span>
      <time
        class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500"
        >January 2023</time
      >
      <h3
        class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white"
      >
        Frontend for ActivityPods providers
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Account and contacts management are split in a separate frontend
        deployed by each Pod provider
      </p>
    </li>
    <li class="mb-10 ml-10">
      <span
        class="flex absolute -left-5 justify-center items-center w-10 h-10 bg-violet-500 rounded-full ring-8 ring-white dark:ring-gray-900"
      >
        <Icon
          name="ic:baseline-check"
          class="w-6 h-6 text-white dark:text-slate-200"
        />
      </span>
      <time
        class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500"
        >March 2023</time
      >
      <h3
        class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white"
      >
        Public data
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Ability to make data public and to aggregate them in external public
        instances.
      </p>
    </li>
    <li class="mb-10 ml-10">
      <span
        class="flex absolute -left-5 justify-center items-center w-10 h-10 bg-secondary-500 rounded-full ring-8 ring-white dark:ring-gray-900"
      >
        <Icon
          name="tabler:tool"
          class="w-6 h-6 text-white dark:text-slate-200"
        />
      </span>
      <time
        class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500"
        >December 2023</time
      >
      <h3
        class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white"
      >
        Improved contacts management<span
          class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-white ml-3"
          >Work in progress</span
        >
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Geolocalization of profiles, contacts grouping, improved invitation by
        email...
      </p>
    </li>
    <li class="mb-10 ml-10">
      <span
        class="flex absolute -left-5 justify-center items-center w-10 h-10 bg-secondary-500 rounded-full ring-8 ring-white dark:ring-gray-900"
      >
        <Icon
          name="tabler:tool"
          class="w-6 h-6 text-white dark:text-slate-200"
        />
      </span>
      <time
        class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500"
        >March 2024</time
      >
      <h3
        class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white"
      >
        ActivityPods 2.0<span
        class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-white ml-3"
        >Work in progress</span
      >
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Extract bots from ActivityPods providers: they become independant
        applications activable by user.
      </p>
      <a
        href="/blog/the-road-to-activitypods-2-0"
        class="btn py-2 px-6"
      >
        <Icon name="tabler:eye" class="w-5 h-5 mr-2 -ml-1.5" />
        Read blog post
      </a>
    </li>
    <li class="mb-10 ml-10">
      <span
        class="flex absolute -left-5 justify-center items-center w-10 h-10 bg-gray-500 rounded-full ring-8 ring-white dark:ring-gray-900"
      >
        <Icon
          name="ic:baseline-access-time"
          class="w-6 h-6 text-white dark:text-slate-200"
        />
      </span>
      <time
        class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500"
        >Mid-2024</time
      >
      <h3
        class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white"
      >
        Full Solid-OIDC compliance
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Solid clients can connect to ActivityPods Pods just like other Pod providers
      </p>
    </li>
  </ol>
</section>
