---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			question: 'What are Solid PODs?',
			answer: `Solid (Social Linked Data) is a specification that lets people store their data securely in decentralized data stores called Pods. Pods are like secure personal web servers for data. When data is stored in someone's Pod, they control which people and applications can access it.`,
		},
		{
			question: 'What is its main shortcoming?',
			answer: `Despite its name, Solid has no feature for social networks. For example, when you share a ressource with someone, the person will not know about it, unless you write to him. There is no communication between PODs.`,
		},
		{
			question: "How does ActivityPods solve this?",
			answer: `With ActivityPods, each POD come with a possibility to communicate with other PODs, thanks to the ActivityPub outbox and inbox. When you add a contact to your POD, for example, he can be automatically be notified and add you back`,
		},
	],
	[
		{
			question: "What is ActivityPub?",
			answer: `Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.`,
		},
		{
			question: 'What is its main shortcoming?',
			answer: `ActivityPub is meant to make it possible to create decentralized apps. But to post videos, you need an account on a PeerTube instance. And to post a picture, you need an account on a PixelFed instance. Every user has multiple accounts, with their profile, followers, etc.`,
		},
		{
			question: 'How does ActivityPods solve this?',
			answer: `With ActivityPods, you have one profile, one inbox, one outbox, one list of followers, all in a POD. Applications connect to the POD to find data, post activities, etc. And of course they can connect with ActivityPub-compatible fediverse applications !`,
		},
	],
];
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div class="max-w-xl sm:mx-auto lg:max-w-2xl">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2 class="max-w-lg mb-4 text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto font-heading">
				Overcome the shortcomings of both Solid and ActivityPub
			</h2>
		</div>
	</div>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer }) => (
							<div>
								<p class="mb-4 text-xl font-bold">
									<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block" />
									{question}
								</p>
								{answer.split('\n\n').map((paragraph) => (
									<p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
								))}
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</div>
