---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components'
import solid from '~/assets/images/solid.svg'
---

<section class="bg-primary-500 full-height min-h-[900px]">
	<div class="container max-w-6xl px-4 mx-auto pt-8 sm:py-8 pb-10">
		<img src={solid} alt="Solid" class="w-24 sm:w-48" />
		<h2 class="max-w-lg mb-4 text-4xl font-bold leading-none text-white sm:text-6xl font-heading">
			Solid Pods
		</h2>
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			<div>
				<p class="text-white text-lg sm:text-xl mb-4">
					Solid (Social Linked Data) is a specification that lets people store their data securely in decentralized data stores called Pods. Pods are like secure personal web servers for data. When data is stored in someone's Pod, they control which people and applications can access it.
				</p>
				<a href="https://solidproject.org" class="text-white text-lg sm:text-xl underline">
					www.solidproject.org
				</a>
			</div>
			<div>
				<p class="mb-4 text-xl sm:text font-bold text-white">
					<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-white inline-block" />
					What is the main shortcoming of Solid Pods ?
				</p>
				<p class="text-white text-lg">
					Despite its name, Solid has no feature for social networking. For example, when you share a ressource with someone, the person will not know about it, unless you write to him. PODs are personnal databases with little connexion to the outside world.	
				</p>
				<br />
				<p class="mb-4 text-xl sm:text font-bold text-white">
					<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-white inline-block" />
					How does ActivityPods solve this shortcoming ?
				</p>
				<p class="text-white text-lg">
					With ActivityPods, each POD come with a possibility to communicate with other PODs, thanks to the ActivityPub outbox and inbox. When you add a contact to your POD, for example, he can be automatically be notified and add you back				</p>
			</div>
		</div>
	</div>
</section>
