---
---

<img src="/favicon.svg" width="40" alt="ActivityPods" class="py-1" />
<span class="self-center text-2xl md:text-xl font-bold text-tertiary-500 whitespace-nowrap dark:text-white">
	Activity
</span>
<span class="self-center text-2xl md:text-xl font-bold text-primary-500 whitespace-nowrap dark:text-white">
	Pods
</span>
