---
import Grid from '~/components/blog/Grid.astro';

import { findLatestPosts } from '~/utils/posts';

const count = 4;
const posts = await findLatestPosts({ count });
---

<section class="px-4 pb-16 mx-auto max-w-6xl lg:pb-20">
	<div class="flex flex-col lg:justify-between lg:flex-row">
		<h2 class="max-w-lg text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none lg:mb-5 group font-heading">
			<span class="inline-block mb-1">Activity<span class="text-primary-500">Pods</span> news</span>
		</h2>
		<!-- <p class="text-gray-700 dark:text-slate-400 lg:text-sm lg:max-w-md">
			The blog will be used to display AstroWind documentation. Each new article will be an important step that you will
			need to know to be an expert in creating a website using Astro + Tailwind CSS The blog does not exist yet, but
			very soon. Astro is a very interesting technology. Thanks.
		</p> -->
	</div>
	<Grid posts={posts} />
</section>
