---
import { Image } from "astro:assets";
const { src, label, url } = Astro.props;
---

<div class="text-center">
  <a href={url} target="_blank"><Image src={src} alt={label} class="inline !mt-4" /></a>
  <p class="text-base text-center italic !-mt-6 !pb-2">
    {label}
  </p>
</div>
