---
import { Image } from "astro:assets";
import favIconSvg from '~/assets/favicons/favicon.svg';
---

<Image src={favIconSvg} width="38" alt="ActivityPods" class="py-2" />
<span class="self-center text-2xl md:text-xl font-bold text-tertiary-500 whitespace-nowrap dark:text-white">
	Activity</span><span class="self-center text-2xl md:text-xl font-bold text-primary-500 whitespace-nowrap dark:text-white">Pods</span>
