@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply inline-flex items-center justify-center rounded-md shadow-md border-gray-400 border bg-transparent font-medium text-center text-base text-gray-700 leading-snug transition py-3 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800;
	}

	.btn-ghost {
		@apply border-none shadow-none text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
	}

	.btn-primary {
		@apply font-semibold bg-primary-500 text-white border-primary-500 hover:bg-primary-800 hover:border-primary-800 hover:text-white dark:text-white dark:bg-primary-500 dark:border-primary-500 dark:hover:border-primary-900 dark:hover:bg-primary-900;
	}

	.btn-secondary {
		@apply font-semibold bg-secondary-500 text-white border-secondary-500 hover:bg-secondary-800 hover:border-secondary-800 hover:text-white dark:text-white dark:bg-secondary-700 dark:border-secondary-700 dark:hover:border-secondary-900 dark:hover:bg-secondary-900;
	}
}

/* https://jan-mueller.at/blog/next-level-heading-anchors/#heading-offset */
@layer components {
	*:is(h1, h2, h3, h4, h5, h6) {
		@apply scroll-mt-20;
	}
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.full-height {
	min-height: calc(100vh - 53px);
	@media (min-width: 600px) {
		min-height: calc(100vh - 70px);
	}
}

[astro-icon].icon-light > * {
	stroke-width: 1.2;
}

[data-aw-toggle-menu] path {
	@apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
	@apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
	@apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

.prose p {
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
	line-height: 36px;
}

.prose li {
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	line-height: 36px;
}

.prose ul {
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}

.prose pre {
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: #e2e8f0 !important;
}

.toc-item,
.toc-level {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

summary {
	cursor: pointer;
}
